
[data-theme="light"] {
    --main-color: #eeeeee;
    --seconde-color: #909396;
    --color-text: #000;
    --btn-main-color: #414550;
}
body {
    background-color: #012839;
}
img{
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
h1 {
    color: #009788;
}
h6{
    height: 25px;
}
.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
} 

input,
textarea {
    background-color: transparent !important;
    color: #fff !important;
}

input::placeholder,
textarea::placeholder {
    color: rgb(182, 182, 182) !important;
}
header #home {
    background-color: #24353f;
}
.main-color {
    background-color: #24353f;
} 




/***** Loader *****/
.loading {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: #272b30e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
}

.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 4px solid #fff;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/***** End Loader *****/